.button {
    width: 18rem;
    max-width: 20rem;
    height: 3.5rem;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #8f7cec;
    background-color: #222;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}

.button:hover {
    background-color: #fff;
    color: #222;
    border-radius: 5px;
    box-shadow: 0 0 20px #8f7cec;
}
