.detail {
    width: 300px;
    height: 250px;
    margin: 0;
}

ul {
    display: inline-block;
    list-style: none;
}

li {
    font-size: medium;
    margin: 5px 0;
}

ul li:before {
    content: "✓";
    margin-right: 12px;
}