.detail {
    width: 300px;
    height: 250px;
    margin: 0;
}

ul {
    display: inline-block;
    list-style: none;
}

li {
    font-size: 16px;
    margin: 4px 0;
}

ul li:before {
    content: "✓";
    margin-right: 12px;
}

#card1 .d4,
#card1 .d5,
#card1 .d6,
#card1 .d7,
#card2 .d6,
#card2 .d7  {
    opacity: 0.6;
}

