.price-box {
    width: 300px;
    height: 110px;
    display: block;
    margin: 10px;
}

h4 {
    font-size: 16px;
    margin: 0;
}
.type {
    font-weight: 500 bold;
}

.price {
    margin: 5px 0px;
}

.month {
    font-weight: normal;
}
